// ==========================================
// loader styles
.loader
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: 100%
  background: var(--colorBackground)
  display: flex
  align-items: center
  justify-content: center
  opacity: 1
  z-index: 3
  transition: all .5s ease

  span
    display: block
    height: 10vmax
    width: 10vmax
    border-width: .5em
    border-style: solid
    border-top-color: var(--colorAccentDark)
    border-left-color: var(--colorAccentDark)
    border-right-color: transparent
    border-bottom-color: transparent
    border-radius: 50%
    opacity: 0.75
    animation: spin .5s linear infinite
  
  &.complete
    opacity: 0
    pointer-events: none
  
  &.out
    display: none

    span
      animation: none

  @media screen and (min-width: 480px)
    span
      height: 3em
      width: 3em
      position: absolute
      top: 2em
      right: 2em
  
  @keyframes spin
    0%
      transform: rotate(0)
    100%
      transform: rotate(360deg)