// ==========================================
// button styles
.btn
  font-family: inherit
  font-size: 1.1rem
  font-weight: bold
  border: none
  border-radius: 2em
  cursor: pointer
  background: var(--colorBackgroundAlt)
  color: var(--colorTextAlt)
  padding: .8em
  text-decoration: none
  width: 100%
  max-width: 18em
  white-space: nowrap
  overflow: hidden
  transition: all .3s ease

  &:active
    color: var(--colorAccent)

  @media screen and (hover: hover)
    &:hover
      color: var(--colorAccent)

  &.alt
    background: var(--colorDim)
    color: var(--colorText)

    &:active
      background: var(--colorTextSecondary)

    @media screen and (hover: hover)
      &:hover
        background: var(--colorTextSecondary)
  
  &.accent
    background: var(--colorAccent)
    color: var(--colorTextAlt)

    &:disabled
      background: var(--colorTextSecondary)
    
    @media screen and (hover: hover)
      &:hover
        background: var(--colorAccent)

  &.next, &.prev, &.close, &.save, &.search
    display: flex
    border-radius: 50%
    width: 3em
    height: 3em
    padding: 0
    align-items: center
    justify-content: center
  
  &.link
    padding: 0

    a
      padding: .8em

  a
    display: inline-block
    width: 100%
    text-decoration: none

    &:before
      display: none
  
  svg
    height: 1em
    width: 1em
    fill: currentColor
  
  &:disabled
    opacity: 0.4
    pointer-events: none