.premium
  p
    font-size: 1.2em
    margin: 0

  .btn
    font-size: 1em
  
  svg:not(.premium)
    opacity: 0.75
    height: 40vh
    margin: 3em 0

  .premium
    height: 1em
    width: 1em
    fill: var(--colorAccentDark)