// ==========================================
// premium item styles
.premium
  p
    font-size: 1.2em
    margin: 0

  .btn
    font-size: 1em
  
  svg:not(.premium)
    opacity: 0.75
    width: 100%
    max-height: 80vw
    margin: 3em auto

  .premium
    height: 1em
    width: 1em
    fill: var(--colorAccentDark)