// ==========================================
// mood selector styles
.mood-selector
  text-align: center
  margin: 2em auto 0
  position: relative

  svg
    height: 1.5em
    width: 1.5em
    cursor: pointer
    fill: var(--colorTextSecondary)
    transition: all .1s ease

    &:hover
      fill: var(--colorTextDim)

  .mood-list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    justify-content: center
    border-radius: .5em
    transition: all .3s ease

    li
      margin: 0 .8em
      padding: 0

      input
        height: 0
        width: 0
        position: absolute
        top: -999px
        left: -999px
        overflow: hidden

        @media (hover: hover)
          &:focus + label svg
            fill: var(--colorTextDim)
            border: 1px solid var(--colorAccent)
      
        &:checked + label svg
          fill: var(--colorAccentDark)
  
  &.disabled
    svg
      cursor: default
      fill: var(--colorTextDim) !important

    li
      display: none
    
      &.selected
        display: block