// ==========================================
// settings tab styles
.settings
  display: flex
  flex-direction: column
  justify-content: space-between

  p
    margin-top: 0
    margin-bottom: 0
    font-size: 1.2em
    flex: 1

  .btn
    font-size: 1em
    margin: 0 auto
    margin-bottom: 1em