.home 
  position: relative

  .greeting
    text-align: center
    margin-bottom: 0
    font-size: 1.2em
    font-weight: bold
    line-height: 1.2
    color: var(--colorTextDim)
  
  .entry-list-empty
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)

    p
      line-height: 1
      text-align: center
      width: 60%
      margin: 0
      position: absolute
      color: var(--colorTextSecondary)