// ==========================================
// entry form styles
.entry-form
  display: flex
  flex-direction: column
  position: relative
  z-index: 5
  background: var(--colorBackground)
  
  @media screen and (min-width: 480px)
    height: 100%
    overflow-y: auto
  
  .top-bar
    display: flex
    align-items: flex-start
    justify-content: space-between
    
    .btn
      font-size: 1rem

      &.invisible
        opacity: 0
        pointer-events: none

  .subtitle
    margin: -.5em
    line-height: 1
    text-align: center
    color: var(--colorTextDim)
  
  textarea
    font-family: inherit
    font-size: 1.1em
    margin-top: 2em
    width: 100%
    resize: none
    border: none
    outline: none
    background: none
    flex: 1
    line-height: inherit
    transition: all .1s ease