// ==========================================
// dashboard styles
.dashboard
  height: 100%
  background: var(--colorBackground)
  color: var(--colorText)
  display: flex
  flex-direction: column
  justify-content: flex-end
  position: relative
  --sizeDashPadding: 4vh

  &.loading
    article, form
      transition: all 1s ease
      opacity: 0
  
  .dashboard-content
    flex: 1
    overflow-y: auto
    padding-top: var(--sizeDashPadding)

  article, form
    min-height: 100%
    max-width: 800px

    h2
      text-align: center
      margin-bottom: 1.6rem
      color: var(--colorAccent)

  @media screen and (min-width: 640px)
    flex-direction: row-reverse
    width: 100%
    --sizeDashPadding: 6vh

    .dashboard-content
      margin-left: 4em