// ==========================================
// entries tab styles
.entries
  .month-selector
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 2em

    h2
      margin: 0

      select
        background: none
        padding: 0
        border: none
        font-family: inherit
        font-size: inherit
        font-weight: inherit
        color: inherit
        cursor: pointer
        outline: none
      
      @media screen and (min-width: 640px)
        background: var(--colorBackground)
    
    .btn
      font-size: 1rem
    
  .entry-list-empty svg
    height: 45vh