// ==========================================
// entry list styles
.entry-list
  list-style: none
  margin: 0
  padding: 0

.entry-list-title
  background: var(--colorBackground)
  position: sticky
  top: calc(-1 * var(--sizeDashPadding))
  z-index: 5
  padding: 2em 0 1em
  margin-bottom: -1em

.entry-list-empty
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  overflow-x: hidden
  pointer-events: none

  svg
    height: 40vh
    opacity: 0.7
  
  p
    font-size: 1.2em
    color: var(--colorTextDim)